@import "tailwindcss";






.border-red{
 @apply border-2 border-red-500;
}




.col{
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  will-change: transform;
  
}













